
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--------------------------------------------
                1.  Typhography
---------------------------------------------*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    background-color: #F8F8F8;
}
:root {
    --orange: #ED7D31;
    --black: #111111;
    --F5: #F5F5F5;
    --gray: #ABABAB;
    --light-gray: #F5F5F5;
}

ul{
    list-style: none;
    margin: 0 !important;
}

a{
    text-decoration: none !important;
    display: inline-block;
}

img{
    max-width: 100%;
}

button:focus{
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}
.sec-padd-60{
    padding-top: 60px;
    padding-bottom: 60px;
}
.sec-padd-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.sec-title{
    margin-bottom: 50px;
    padding-bottom: 15px;
    position: relative;
}
.sec-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background: #000;
}
.sec-title h2 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--blue);
}
.sec-title p {
    font-size: 24px;
    line-height: 32px;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.d-flex-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bg-img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.np{
    padding: 0 !important;
}
.nm{
    margin: 0 !important;
}
label {
    font-size: 15px;
    font-weight: 500;
    display: block;
}
input, select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 7px;
    padding: 0 15px;
    font-size: 15px;
    background: #fff5f5;
}
input:focus,
select:focus{
    outline: 1px solid #000;
}
input[type="submit"] {
    background: #F8F8F8;
    background: #ED7D31;
    color: #fff;
    font-weight: 600;
    padding: 12px 0px;
    border-radius: 8px;
    margin-right: 12px;
    border: none;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: unset;
    margin-top: 15px;
}
.login-form input[type="submit"]:hover{
    background-color: var(--success);
}

/* ----------------- Header Start-------------- */
.dash-logo img {
    width: 55px;
    border-radius: 8px;
    background: #fff;
    padding: 0 3px 0 3px;
}
.sidebar-area {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    border-right: 2px solid #EEEEEE;
    background: #F8F8F8;
    z-index: 9;
    text-align: center;
    min-width: 100px;
    padding: 20px 15px 32px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 99999;
}
.sidebar-area ul {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    padding-top: 30px;
}
.sidebar-area ul li {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
}
.sidebar-area ul li a {
    width: 52px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-radius: 12px;
    position: relative;
}
.sidebar-area ul li a::after {
    content: attr(data-name);
    position: absolute;
    background: #111;
    color: #fff;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 5px;
    top: 12px;
    left: 110%;
    visibility: hidden;
    opacity: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: 500;
}
.sidebar-area ul li a:hover:after{
    opacity: 1;
    visibility: visible;
} 
.sidebar-area ul li.active a, 
.sidebar-area ul li a:hover {
    background-color: #EEEEEE;
}
.sidebar-area ul li a.active {
    cursor: context-menu;
}
.dashboard-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-gray);
    padding-left: 120px;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    z-index: 9999;
}
.header-left h2 {
    font-size: 22px;
}
.profile-btn {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.profile-btn:hover {
    background: #ddd;
}
.profile-btn img {
    max-width: 55px;
    border-radius: 100%;
}
.profile-details{
    padding-left: 10px;
}
.profile-details span{
    display: block;
    font-size: 15px;
    color: #111;
}
.header-right {
    display: flex;
    align-items: center;
}
.notification-point {
    position: relative;
    z-index: 999;
}
.notification-point button {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #e9d4d4;
    border: none;
    border-radius: 46px;
    padding: 5px;
    margin-right: 15px;
}
.profile-details b {
    color: #000;
}
.notification-bar {
    position: absolute;
    width: 400px;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: calc(100% + 11px);
    border-radius: 5px;
    display: none;
    z-index: 999;
}
.notification-bar p {
    font-size: 14px;
    color: #000;
    line-height: 1.6;
}
.notification-bar li {
    border-bottom: 1px solid #ccc;
}
.notification-bar a {
    padding: 15px;
}
.notification-bar a:hover{
    background-color: #EEEEEE;
}
.view-all-notification a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    color: #000;
}

.view-all-notification a:hover{
    text-decoration: underline !important;
}
.sidebar-area ul li a img {
    max-width: 25px;
    max-height: 25px;
}

/* ----------------- End Header-------------- */

/* ----------------- Form CSS Start-------------- */
.full-form-area {
    background: var(--light-gray);
}
.form-content {
    height: 100vh;
}
.form-wrapper {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
.form-logo img {
    width: 90px;
    background: #d4f0f5;
    height: 90px;
    border-radius: 100%;
    padding: 10px;
    margin-top: -80px;
}
.form-logo b {
    display: block;
    padding-top: 14px;
    font-size: 24px;
    position: relative;
    padding-bottom: 8px;
}
.form-logo b::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 3px;
    background: #ed7d31;
    margin: 0 auto;
    border-radius: 12px;
}
.form-wrapper form {
    padding-top: 25px;
}
.form-wrapper input {
    min-width: 300px;
}
.input-wrap {
    padding-bottom: 20px;
}
.forgot-password a{
    font-size: 15px;
    color: #000;
}
.forgot-password a:hover{
    text-decoration: underline !important;
}

/* ----------------- Form CSS End-------------- */


/* ----------------- Dashboard End-------------- */
.main-board-wrapper {
    padding: 108px 20px 30px 120px;
}
.breadcrumb-area p {
    color: #000;
    font-size: 15px;
}
.breadcrumb-area p a{
    color: #000;
}
.breadcrumb-area p a:hover{
    text-decoration: underline !important;
}
.breadcrumb-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.button {
    color: #ffffff;
    font-size: 15px;
    background: #ED7D31;
    border-radius: 28px;
    padding: 5px 18px;
    font-weight: 500;
}
.button:hover{
    background-color: #E27124;
    color: #fff;
}
.profile-img {
    max-width: 40px;
    border-radius: 100px;
}
.table td, .table th {
    vertical-align: middle;
}
.table th{
    font-size: 15px;
    border: none !important;
}
.table td {
    font-size: 15px;
    font-weight: 500;
}
.single-widget {
    background-color: #fff;
    padding: 20px;
}
.action-btn-group button {
    border: none;
    width: 30px;
    height: 32px;
    border-radius: 4px;
}
.action-btn-group button:hover{
    background-color: var(--light-gray);
}
.action-btn-group i {
    font-size: 18px;
    opacity: 0.7;
}
.info-single-row b {
    padding-bottom: 8px;
    display: block;
    color: #b97171;
    font-weight: 600;
}
.single-widget h3 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
}
.single-widget h3::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background: var(--orange);
    left: 0;
    bottom: 0;
}
.register-btn-area input {
    width: auto;
    padding: 12px 30px;
    margin-left: auto;
    margin-right: 0;
}
/* ----------------- Dashboard End-------------- */

/* ----------------- My Account Start-------------- */
.my-account-wrapper img {
    max-width: 180px;
    border-radius: 100%;
}
.my-account-wrapper ul {
    padding-top: 20px;
}
.my-account-wrapper ul li{
    padding-bottom: 10px;
}
.my-account-wrapper ul li span {
    width: 135px;
    display: inline-block;
    font-weight: 600;
}


/* ----------------- My Account End-------------- */
